*{
    margin: 0px;
    padding: 0px;
}
.main{
    border: 4px solid black;
    margin: 50px;
    position: relative;
    padding: 50px;
}
.box1{
    border: 2px solid black;
    height: 300px;
    width: auto;
    margin-bottom: 10px;
    display: flex;
}
.box1-a{
    display: inline-block;
    height: 100%;
    width: 50%;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}
.box1-b{
    height: 50%;
    width: 50%;
    display: inline-block;
    position: relative;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.title1{
    text-align: center;
    padding: 5px;
}
.para1{
   padding: 10px;

}
.box2{
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
}
.title1{
    text-align: center;
    padding: 5px;
}
.para1{
   margin-top: 30px;

}
.box3{
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    height: 300px;
}


